$mainColor: #0f172a;
$secondaryColor: #1a294d;
$thirdColor: #334e90;
$textColor: #8ba2de;
$borderColor: #3b5aa9;
$headingColor: #50bdf8;
$danger: #ec4899;
$dangerClicked: #ad3270;
$default: #e5e7eb;
$defaultClicked: #b3b4b6;
$border: 1px solid $borderColor;
